.criatures {
    margin: 20px;
    background-color: #FFE1FF;
    border: 1px solid #8B7B8B;
    
}

.territori {

    margin: 20px;
    background-color: green;
    border: 1px solid #8B7B8B;
    

}